Flask
flask-cors
gunicorn
requests
python-dotenv
beautifulsoup4
reportlab
Pillow
pytesseract
moviepy<2.0.0
yt-dlp
psycopg2-binary

# Google AI Studio (New)
google-generativeai

# Removed: sentence-transformers, huggingface-hub (Too heavy for PA)

# Helpers
charset-normalizer
idna
urllib3
certifi
soupsieve
decorator
imageio
imageio-ffmpeg
proglog
tqdm
numpy
Werkzeug
itsdangerous
Jinja2
MarkupSafe
click
gevent
whitenoise
